@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-12-05 12:41:12
 * @version $Id$
 */
 body {
 	border: 0;
 	margin: 0;
 	background: url(img/bg.png);
 	background-size: cover;
 }
 .container-fluid {
 	background: #443621;
 	border-top: 5px solid #c6341a; /*红的 */
 	display: flex;
 	justify-content: center;
 	margin: 0;
 }
 
 .home-logo {
 	position: relative;
 	top: -75%;
	width: 115%;
 }
 
 .navbar-nav {
 	width: 11.2%;
 	height: 100%;
 	display: flex;
 	text-align: center;
 }
 .navbar-brand {
 	width: 100%;
 	height: 100%;
 	flex-wrap: wrap;
 }

 .home-head-china {
 	color: white;
 	font-size: 0.8em;
 }
 .home-head-english {
 	font-size: 0.9em;
 	height: 100%;
 }
 .home-head-china-div {
 	padding: 3% 0 5% 0;
 }
 #head-search-title-form {
 	width: 100%;
 	display: flex;
 	flex-wrap: nowrap;
 }
 #head-search-text {
 	width: 80%;
 }
 #head-search-i {
 	width: 20%;
 	color: #d1d3dc;
 }
 .head-search-a {
 	position: relative;
 	left: -14%;
 	margin-top: 2%;
 }
 .fa-search {
 	color: #898b94;
 }
 .head-login {
 	display: flex;
 	flex-wrap: wrap;
 	position: relative;
 	left: -1%;
 	width: 12%;
 	padding-top: 1.2%;
 }
 .head-login-way {
 	width: 100%;
 	display: flex;
 	justify-content: space-around;
 	padding: 5% 0 1.8% 0;
 }
 .head-else {
 	color: #898b94;
 	font-size: 1.1em;
 }
 .home-mylibrary {
 	background-color: #c6341a;
 	color: #f7dd86;
 	display: flex;
 	flex-wrap: wrap;
 	text-align: center;
 }
 .head-mylibrary-width-full {
 	width: 100%;
 }
 .head-mylibrary-china {
 	color: white;
 	font-size: 1.2em;
 }
 .head-mylibrary-english {
 	font-size: 1em;
 }
 .head-hello-login {
 	font-size: 0.8em;
 	padding: 1% 0 1% 2%;
 }
 .head-secret-query {
 	display: flex;
 	flex-wrap: nowrap;
 	font-size: 0.8em;
 	transform:scale(0.78);
 	padding: 2% 0 2% 0;
 }



 .home-serach {
 	margin-top: 10%;
 }
 .search-items {
 	display: flex;
 	justify-content: center;
 }
 .search-items-common {
 	font-size: 1.5em;
 	font-weight: bolder;
 	color: white;
 	margin: 0 1% 0 1%;
 	padding: 0.5% 1% 0.5% 1%;
 }
 button {
    background: transparent;
    border: 0;
}
.search-input {
	margin-top: 2%;
	display: flex;
	justify-content: center;
	font-size: 1.5em;
}
.search-input-select {
	padding: 0.5% 1.5% 0.5% 1.5%;
	background: #c6341a; 
	color: white;
	border: 0;
}