@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-06-22 11:12:20
 * @version $Id$
 */
body{
	background: url(img/bg.png);
	background-size: cover;
}
.return{
	width: 7%;
	height: 7%;
	margin:5% 0 0 5%;
	cursor: pointer;
}
.box{
	background:black;
	width: 30%;
	height: 60%;
	top: 20%;
	left: 35%;
	position: absolute;
	filter:alpha(Opacity=60);
	-moz-opacity:0.6;
	opacity: 0.6; 
	border-radius: 30px;
}
.head{
	color: white;
	text-align: center;
	padding: 15px;
	font-size: 22px;
	margin:5% 0 8% 0;
}
.form-group {
	display: flex;
	margin-left: 5%;
}
p{
	color: white;
	font-size: 10px;
	margin-left: 7%;
}
.select{
	margin-left: 7%;
	color: white;
	font-size: 12px;
}
.glyphicon-user {
	margin-top: 8px;
	margin-left: 15px;
}
.eamil{
	margin-left: -25px;
	padding-left: 35px;
	border: none;
	outline: none;
	width: 95%;
}
.glyphicon-lock{
	margin-top: 8px;
	margin-left: 15px;
}
.required{
	margin-left: -25px;
	padding-left: 35px;
	width: 95%;
}
.forget{
	margin-bottom: 10%;
	height: 10%;
	width: 100%;
}
a{
	/*color: #A4D3EE;
*/	margin-right: 5%;
	float: right;
	font-weight: bold;
}
.btn-success{
	/*background: #ffd147;*/
	background:#EE9A00;
	outline-style: none;
	border: none;
	width: 60%;
	border-radius: 15px;
	padding: 8px;
	font-size: 16px;
	margin-left: 20%;
	margin-top: 15px;
}